.page {
  height: 100%;
  background-color: $main-black;

  font-family: "Inter", "Arial", sans-serif;
  @media (min-width: 1440px) {
    background-image: image-set(
      url("/src/images/desktop.avif") 1x type("image/avif"),
      url("/src/images/desktop@2x.avif") 2x type("image/avif"),
      url("/src/images/desktop.webp") 1x type("image/webp"),
      url("/src/images/desktop@2x.webp") 2x type("image/webp"),
      url("/src/images/desktop.jpg") 1x type("image/jpeg"),
      url("/src/images/desktop@2x.jpg") 2x type("image/jpeg")
    );
    background-size: cover;
  }
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: $text-white;
}
